html {
  body {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
}
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
/*font-family: "Shrikhand", cursive;*/
/*font-family: "Roboto", sans-serif;*/
@mixin box-shadow {
  box-shadow: 0px 5px 15px lightgrey;
}
h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 1;
  animation: loading-page 100ms 2.9s both;
}
.spinner {
  border: 10px solid white;
  border-top: 10px solid $color-primary;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  animation: loading-speen 1s ease-in-out 3;
}
@keyframes loading-speen {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-page {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 1.5rem;
    color: black;
  }
  &--logo {
    object-fit: scale-down;
    padding: 1.5rem 0 0.8rem 0;
  }
  &--location {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    background-color: lightgray;
    padding: 1rem;
    i {
      margin-right: 0.8rem;
    }
  }
  &--menu-image {
    height: 290px;
    img {
      width: 100%;
      height: 290px;
      object-fit: cover;
    }
  }
}
.description {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
  height: 290px;
  padding: 2rem;
}
.main-button {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    $color-secondary,
    $color-primary
  );
  border: none;
  border-radius: 60px;
  height: 50px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
  @include box-shadow;
}
.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.4rem;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }
  &__list-item {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: whitesmoke;
    border-radius: 25px;
    padding: 0 30px 0 40px;
    gap: 1rem;
    @include box-shadow;
    .numbers {
      position: absolute;
      left: 0.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.5rem;
      width: 1.5rem;
      background-color: $color-primary;
      border-radius: 50%;
    }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 1.5rem;
    }
    i {
      font-size: 1.5rem;
      color: gray;
    }
    &:hover {
      background-color: #9256dc2c;
      i {
        color: $color-primary;
      }
    }
  }
}
.restaurants {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: whitesmoke;
  gap: 1.4rem;
}
.restaurant-card {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: white;
  width: auto;
  height: 255px;
  text-decoration: none;
  color: currentColor;
  position: relative;
  @include box-shadow;
  img {
    object-fit: cover;
    height: 175px;
    border-radius: 25px 25px 0 0;
  }
  .new-badge {
    background-color: $color-tertiary;
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: bold;
    color: darken($color-tertiary, 50%);
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
  }
  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    span {
      font-weight: bold;
    }
    div:first-of-type {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 5px;
    }
    .favorite {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 1.5rem;
      width: 1.5rem;
    }
    div > i {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 100%;
      width: 100%;
      z-index: 1;
      &:checked ~ .far {
        transition-duration: 0.5s;
        opacity: 0;
      }
      &:checked ~ .fas {
        transition-duration: 0.5s;
        opacity: 1;
      }
    }
    .fas {
      opacity: 0;
      transition-duration: 0.5s;
      background: linear-gradient(to bottom, $color-primary, $color-secondary);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}
.menu {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 20px;
  gap: 1rem;
  border-radius: 20px 20px 0 0;
  margin-top: -30px;
  position: relative;
}
.menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;

  > p::after {
    content: "";
    display: block;
    width: 40px;
    margin-top: 5px;
    border-bottom: lightskyblue solid 3px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 15rem;
    overflow: hidden;
  }
  &__choix {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    padding: 0.8rem;
    gap: 0.3rem;
    height: 4rem;
    opacity: 0;
    overflow: hidden;
    &:nth-child(1) {
      animation-name: slidein;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
    &:nth-child(2) {
      animation: slidein 2s 300ms ease-out forwards;
    }
    &:nth-child(3) {
      animation: slidein 2s 600ms ease-out forwards;
    }
    @keyframes slidein {
      from {
        transform: translateY(10%);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @include box-shadow;
    span {
      font-weight: bold;
    }
    div {
      display: flex;
      justify-content: space-between;
    }
  }
}
.nom-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.commander {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  span {
    margin: 0 30px;
  }
}
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  color: white;
  padding: 1rem;
  li {
    margin-bottom: 0.8rem;
  }
  i {
    margin-right: 1rem;
  }
}
